body {
    /* background: linear-gradient(106.37deg,
                #DFF2EB,
                #B9E5E8,
                #4A628A); */
    background: #F4F4F5;
}

.master-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    border-radius: 12px;
    width: 80%;
    height: 750px;
    margin-left: 100px;
    background: rgba(255, 255, 255, 0.54 );
}
/* 
.sidebar {
    width: 200px;
        background: #7AB2D3;
} */

.content {
    width: 200px;
    margin-left: 100px;
    
}

.content__children {
    margin-top: 20px;
}