.sensor__card{
    display: flex;
    gap: 40px;
    height: 250px;
    width: 1050px;
    font-weight: bold;
}
.sensor__content{
    font-weight: 700;
    font-size: 24px;
}
.sensor__card__colum{
    display: flex;
    gap: 10px;
    flex-direction: column;
}